[2020-04-02 11:52] Shuunen opened #2 "Demo"
Hi !

I ❤️ the name ! Just miss a demo to see it in action 😃

Cheers

[2020-04-02 12:23] ashthornton-gc commented on #2
Thanks @Shuunen 😊

A demo is in the works, but for now I've added links to a couple of sites that are using ASScroll to the readme

[2020-04-02 13:09] Shuunen commented on #2
Great ! thanks

[2020-04-03 00:32] tiagopc opened #3 "Problem installing"
Can you please add more explaination in Installation section? i'm having problem to install this. Is there any way to simply install by calling script in the page?

[2020-04-03 08:43] ashthornton-gc commented on #3
Currently you will need a JS compiler like Webpack to import this into your setup. I do need to fix the compiled version in the dist folder so that the main var is exposed. Once I've done that, you should be able to include the script on a page and use it that way, although you'd be better off using it as a module anyway.

[2020-04-03 08:43] #3 closed

[2020-04-03 08:57] ashthornton-gc opened #4 "Expose library var in dist version"
You cannot import ASScroll from the production version in the dist folder.

Set up UMD definitions in webpack output and test.

[code]

[2020-04-03 09:00] ashthornton-gc opened #5 "Make disabling on touch devices optional"
Provide an option to allow smooth scroll on touch devices.

[2020-04-03 14:10] tiagopc commented on #3
Ok, thanks a lot for answering!

[2020-04-03 18:06] LeoSeyers opened #6 "I had to install dependencies"
Hello,

I've been trying to use the library but got the following errors related to unresolved dependencies.
Installing those two libs fixed the error, not sure why it happened in the first place.

[code]

[2020-04-03 18:17] LeoSeyers opened #7 "Issues with fixed elements (update docs)"
Hello,
I had to adapt my code to make it work, probably it would be great to add it to the documentation.
This following code did not work initially, I had to wrap it within another div to resolve the issue.

[code]

[2020-04-03 18:49] LeoSeyers commented on #7
And fixed elements inside won't work properly either. It make sense to pull them out obviously but other people will likely have this issue if it's not documented.

[code]

[2020-04-03 19:05] LeoSeyers opened #8 "Provide defaults for Initialisation"
Hi,
Sorry another issue, hope you're doing good.
I tried initializing the lib only with one property, assuming the other options would fall back to default but it did not.

[code]

`e.js:50 Uncaught TypeError: Cannot read property 'nodeType' of null`

If I had element: '.asscroll-container',   I got `e.js:50 Uncaught TypeError: Cannot read property 'nodeType' of null`

[2020-04-04 15:52] ashthornton-gc commented on #6
Thanks for pointing this out @LeoSeyers, I've now corrected the dependency type for those modules.

[2020-04-04 15:52] #6 closed

[2020-05-24 08:49] ashthornton-gc commented on #7
Fixed in https://github.com/ashthornton-gc/asscroll/commit/4934cf161011369a360ba381da91cc8c5d8f9824

[2020-05-24 08:49] #7 closed

[2020-05-24 09:58] #4 closed

[2020-05-24 10:00] ashthornton-gc commented on #8
Fixed in https://github.com/ashthornton-gc/asscroll/commit/0884a06f964e5c3842d8f91342a57bd6228e869e

[2020-05-24 10:00] #8 closed

[2020-06-11 16:12] ashthornton opened #9 "Higher refresh rate screens"
Look into the possibility of creating a consistent lerp speed on screens that refresh above 60Hz. The lerp finishes quicker the higher the refresh rate since the requestAnimationFrame runs more times in 1 second.

[2020-06-17 11:28] ashthornton-gc commented on #5
Added in https://github.com/ashthornton-gc/asscroll/commit/ad4285b75def1bedc66dddccfd2901e496398a99

Enabled on touch devices by default with the option to disable.

[2020-06-17 11:28] #5 closed

[2020-07-16 09:39] ashthornton opened #10 "Custom scrollbar handle can get very small on long pages"
![image](https://user-images.githubusercontent.com/28292677/87655629-6b50f400-c750-11ea-9f48-d7fb0488ce64.png)

Set a minimum height for the scrollbar handle and take this into account when calculating the scroll track bounds.

[2020-07-16 20:43] ashthornton commented on #10
Fixed in https://github.com/ashthornton/asscroll/commit/50075be333de87e148a8a0b4f3511560f3f1e1a1

[2020-07-16 20:43] #10 closed

[2020-07-24 09:18] ashthornton opened #12 "Get the correct scroll offset when grabbing the scrollbar, rather than starting from the center of the scrollbar"

[2020-08-20 13:46] ashthornton commented on #2
@Wahrheit26 it's almost there! Hopefully in the next few weeks :)

[2020-08-27 21:32] bryanberger opened #14 "Anchor Linking + GSAP ScrollTrigger"
Hi I just started using this library for a project, really great work by the way -- TY

I ran into a slight issue I wanted to document here with my workaround for now.

When using ScrollTrigger, specifically the `pin` option, ScrollTrigger wraps DOM elements with a `div.pin-spacer` ASScroll doesn't scrollTo the right container that are children of the pin spacers.

I had to do something like this

[2020-08-27 21:53] ashthornton commented on #14
Hi @bryanberger thanks for giving this library a shot!

That's an interesting one which sounds quite specific to using it in combination with ScrollTrigger, but I will take a look and make sure ASScroll isn't getting in the way and get back to you.

Out of interest, are you using v1.6.1? I actually added some potential fixes specifically for anchor links in that version.

[2020-08-28 00:39] bryanberger commented on #14
@ashthornton Yep, v1.6.1 -- I noticed the anchor changes, was eager to try it out which led me to the work around. Thanks for looking into it!

[2020-08-28 14:50] urbgimtam opened #15 "Examples for common frameworks"
Not really an issue, but would be so nice if there where examples for various common js frameworks, like Vuejs, Nuxtjs, React, etc.

In Nuxtjs, I'm struggling with asscroll breaking scroll between pages.

[2020-08-28 15:12] ashthornton commented on #15
Hi @urbgimtam, I'm actually not that experienced with those frameworks but I know the concept would be the same as using something like [Highway](https://github.com/Dogstudio/highway) in that you are in a stateful environment.

The core idea is that you call `ASScroll.disable()` when leaving or changing a page, then call `ASScroll.enable()` once your new DOM has been added, then update the third p

[2020-08-28 18:49] urbgimtam commented on #15
Thanks for the quick reply, and also for an awesome scroller (I really like it).

I've been trying something similar, without success. Also, don't want to do it on every page, so I'm trying to listen to events and then disable and enable on route change.

Currently I'm able to receive an 'routeChange' event, but either that's already too late to disable (?), or I'm messing up...

As I'm using Serv

[2020-08-31 14:22] urbgimtam commented on #15
Please forget my previous example, I was doing it the wrong way.
Although is not exactly what I wanted, I've managed to do it in a different way.

For future reference, here's what I've done in Nuxt:
(I've also prepared a codesandbox: https://codesandbox.io/s/wizardly-sanderson-dux5u?file=/plugins/asscroll.js:0-1677)

//plugins/asscroll.js
[code]

// mixins/global.js
[code]

Finally, on each page:

[2020-08-31 14:22] #15 closed

[2020-09-04 18:50] paullangton opened #16 "Tab Focus"
First of all great work!

I noted that tab focus had been implemented so was excited to try on a new project. The tab focus seems to jump up and down between a and button tag elements.

I have updated your recent pen with on codepen with some additional links at the bottom so you can see what I mean when you tab.
https://codepen.io/plankton/pen/BaKmvyX

I changed the cdn to 1.6.1.

[2020-09-06 13:16] ashthornton commented on #16
Thanks for letting me know @paullangton! I'll take a look and get back to you 👍

[2020-09-06 14:28] ashthornton commented on #16
@paullangton please try the latest version (1.6.2) and let me know if it's working correctly now. I've tested with your Codepen and it works for me.

[2020-09-06 14:30] ashthornton commented on #14
@bryanberger I've just made some improvements to the anchor link and tab focus functionality. Could you try the latest version (1.6.2) and let me know if that improves things for you? Otherwise could you make a reduced example of your on Codepen or similar and I can take a further look 👍

[2020-09-06 19:23] paullangton commented on #16
Kudos to you Ash! both pen and project working as expected.

Thank you for such a quick fix and for sharing your work!

[2020-09-06 20:27] ashthornton commented on #16
No worries @paullangton glad to hear it's working. If you'd like to share your project when it's done I could add it to the list of examples in the readme, I'm interested to see how it's been used!

[2020-09-06 20:27] #16 closed

[2020-09-10 09:39] sgeier opened #18 "Enable support for GatsbyJS"
Trying to integrate the library into GatsbyJS fails due to the window object undefined during server-side rendering.
Thanks for your help on that.

[=========================== ]   16.871 s 249/253 98% Generating image thumbnails
ReferenceError: window is not defined
    at Object../node_modules/@ashthornton/asscroll/build/asscroll.js (/Users/geier/Projects/webdev/public/render-page.js:1753:4)

[2020-09-10 09:53] ashthornton commented on #18
Hi @sgeier, looking at the Gatsby docs it suggests trying this: https://www.gatsbyjs.com/docs/debugging-html-builds/#how-to-check-if-window-is-defined

Does that method work for you?

[2020-09-27 13:08] S-n-d commented on #2
@ashthornton thanks for the example! I noticed it's janky on Safari (14) but buttery smooth on Chrome. Might be something worth looking at.

[2020-09-27 20:43] S-n-d opened #19 "Custom scrollbar not working properly"
First of all great work Ash, and thank you for sharing it! Giving this a shot in a new project.

I'm encountering the following problem: my .asscrollbar__handle is being set the same height of the viewport and isn't translating on scroll. It does show on scroll and hides on stop.

I'm not quite sure what I might be doing wrong but I've been looking at the codepen demo and my HTML structure is abou

[2020-09-28 18:26] S-n-d commented on #19
It looks like the issue only occurs when the total page length is less than ~200vh.

[2020-09-29 07:21] #18 closed

[2020-09-29 07:21] #14 closed

[2020-10-08 11:40] ashthornton commented on #19
Thanks for pointing this out @S-n-d , this should now be fixed in the latest version (v.1.6.5)

[2020-10-08 11:40] #19 closed

[2020-10-08 14:18] S-n-d commented on #19
Great work Ash! Thanks!

[2020-10-10 03:27] clearly-outsane opened #20 "How would you implement scrolling to a section when using this library with gsap ?"
I love the integration of this library with scroll trigger so far but I've been unable to get gsap scrollTo working with this library. How should I go about implementing scrolling to anchor tags/sections

[2020-10-10 08:53] ashthornton commented on #20
@clearly-outsane Scrolling to anchor tags should work without the need for GSAP's scrollTo plugin. Have you tried the latest version of ASScroll?

[2020-10-10 10:27] clearly-outsane commented on #20
Ah yea nvm - I got it to work with ASScroll.scrollTo - one problem I have now is the scroll is too fast - is there any way to increase the duration of the animation ?

[2020-10-10 12:38] ashthornton commented on #20
@clearly-outsane you could always tween a value and call `ASScroll.scrollTo(val)` when it updates, something like this:

[code]

[2020-10-11 08:09] clearly-outsane commented on #20
Ohh I wasn't aware you could use it like that thank you very much :) You've been of great help

[2020-10-11 08:41] ashthornton commented on #20
You're welcome :)

[2020-10-11 08:41] #20 closed

[2020-10-11 09:27] ashthornton commented on #2
I've added a [Codepen](https://codepen.io/ashthornton/pen/pobJRQX?editors=1010) to the readme that shows the zero config setup. I am planning on adding more demos with different options, as well as releasing the full showcase site shortly 👍

[2020-10-17 15:04] ashthornton commented on #9
completed in https://github.com/ashthornton/asscroll/commit/a760dadf78594afef0898cba9fffc057e701caa3

[2020-10-17 15:04] #9 closed

[2020-10-22 08:44] Wahrheit26 commented on #2
THANK YOU !!!

[2020-10-23 09:54] PaulBouisset opened #21 "Can't scroll full height on the inner container"
Hi, first thanks for your library it's great especially for the exemple you provide for GSAP scrollTrigger !

But I have an issue with the smooth scrolling, I can't scroll to the full height of the inner container. For exemple on page load my inner container is 2406px height but the smoothscroll only translate the inner container until -1486px, so a big part on the inner container is not visible.

[2020-10-23 11:18] ashthornton commented on #21
Hi @PaulBouisset, have you made sure you are enabling ASScroll after all images have loaded? Or you can manually call ASScroll.onResize() after images have loaded. That's if you have images on your page of course.

[2020-10-23 13:33] PaulBouisset commented on #21
Hi @ashthornton, yes I made sure I enable ASScroll after all images are loaded but it seems like ASScroll is not getting the right inner element height.
Do you have an idea how I could debug this?

[2020-10-25 16:32] ashthornton commented on #21
@PaulBouisset I think the best way would be to make a reduced example using codepen or similar, then I could take a look

[2020-10-27 13:26] richard-unterberg opened #22 "jump immediately to Y-position without scroll animation"
Thanks Ash for this great piece of code,

The following is more a feature request than an "issue"
I´m experimenting a lot with this bundled with GSAP´s scrolltrigger. In my lastest application, it opens a fullscreen (scrollable) overlay. on close it should instantly jump to the last position (It remembers the offset value in a variable and apply it via `"scrollTo(someoffset)"`). I´m wondering if i

[2020-10-27 13:50] ashthornton commented on #22
Hi @richard-unterberg , without seeing your full setup I think the best way to do what you're asking is to explicitly set the target scroll positions as well as the current smoothed scroll position like so:

[code]

`y` would need to be the negative value of the position you want to scroll to

I think I will add a method to do this without manually changing values in the future since I've needed t

[2020-10-27 13:52] richard-unterberg commented on #22
absolutely awesome. works for me <3

[2020-10-27 13:54] #22 closed

[2020-11-05 09:13] #21 closed

[2020-11-16 06:50] SiddharthSham opened #23 "Question about memory usage"
What would be the memory impact on the GPU when applying a 3d transform to the entire scrollable DOM element? Would it be significantly better to transform only sections of the DOM? (For instance, that is how Locomotive Scroll works.)

In my rudimentary tests, the memory consumption was greatly reduced by transforming only the required sections, and removing transforms as soon as possible. Is this

[2020-11-17 13:48] ashthornton commented on #23
Hi @SiddharthSham, transforming individual sections has been something I've wanted to experiment with for some time. However my brief tests have shown that using the CSS property [`contain: content`](https://developer.mozilla.org/en-US/docs/Web/CSS/contain) on the parent element of the transformed element increases performance. This of course only works when the parent element is no bigger than th

[2020-11-17 14:55] SiddharthSham commented on #23
Hey @ashthornton, thanks for the detailed reply! I hadn't thought about using `contain: content` in order to improve performance; will definitely look into it more.

My concerns are more about the GPU memory usage. I tested two setups - one which works like ASScroll, (similar to [this](https://tympanus.net/codrops/2019/07/10/how-to-add-smooth-scrolling-with-inner-image-animations-to-a-web-page/)),

[2020-12-09 14:55] jbarkun opened #24 "Issue with Select2.js"
Hello,

First off, thank you for creating such an easy to use plugin!

I'm using ASScroll on a new build, and ran into some issues when using it alongside [Select2.js](https://select2.org/). Select2.js offers styled select dropdowns instead of relying on the browser, including features like autocomplete. Unfortunately, when trying to scroll through a Select2.js dropdown, ASScroll triggers and star

[2020-12-09 15:06] ashthornton commented on #24
Hi @jbarkun, that is a very interesting issue! Thanks for raising it.

I have some ideas about how to fix this internally but as a temporary fix you should be able to call `.disable()` on your ASScroll instance when a Select2 is opened. It's been a while since I used Select2 but I think I remember there being open/close events - that would probably be the best place to disable/enable.

Let me know

[2020-12-09 15:17] jbarkun commented on #24
Woah you're fast!

Just tried your suggestion on my build and it works great 👍  Thank you for the quick response, it's really appreciated. I'll let you know if I notice any issues with this approach as I keep working.

[2020-12-10 20:48] jbarkun opened #25 "URL with hash not scrolling to proper section on page load"
Hi again! I'm pretty sure the issue here is between the chair and the keyboard, but I've been banging my head against the wall for a couple of hours and would appreciate being pointed in the right direction.

I'm having trouble when clicking on links to other pages that have a hash in the URL. Ideally I would want the user to be brought down to the corresponding ID on the destination page, but tha

[2020-12-14 09:48] ashthornton commented on #25
Hi @jbarkun, I haven't tested this but you may just need to update ASScroll's internal scroll positions as the GSAP tween progresses like:

[code]

But it's likely that animating the native window position like that will conflict with ASScroll. If you want to animate the scroll position you are better off doing something like this:

[code]

If you want to snap to the scroll position like the nativ

[2020-12-17 14:56] kekkorider opened #26 "Doesn't work on mobile starting from version 1.7.0"
Hey Ash, I was testing a new project I'm working on that uses version `1.7.3` and saw that 🍑scroll is not initialized on mobile.

On another project I still have version `1.5.9` and it works perfectly, so I took some time to investigate and found out that problems start arise with version `1.7.0`.

On `1.7.0`, smoothscroll is really "janky";  it seems every calculations screw up and the progress r

[2020-12-17 15:01] ashthornton commented on #26
Hey Francesco!

Can I confirm two things:
1. are you using the latest version: 1.7.3
2. is the smooth scroll being 'janky' just affecting mobile, or desktop as well?

[2020-12-17 15:18] kekkorider commented on #26
1. Yes, I was using version `1.7.3`, and then I rolled back to version `1.5.9` upgrading it one version at a time. Until version `1.6.5` everything goes perfectly
2. Yes, only on mobile. It works like a charm on desktop

[2020-12-17 16:14] ashthornton commented on #26
Ok so some changes were made in 1.7.1 in favour of improving mobile scroll performance and by default doesn't translate the page element. If you want to bring back the way it was before you can set `disableOnTouch: false` in the options.

If you're going to be doing any DOM + WebGL syncing I would recommend leaving that as true and taking a look at this for a mobile setup: https://codepen.io/ashth

[2020-12-17 18:21] jbarkun commented on #25
Thanks for your help! I ended up taking your final suggestion, since animating the scroll seemed to be a little wonky on some page loads.

Here's the final code for anyone who has the same issue:
[code]

[2020-12-17 19:05] ashthornton commented on #25
No worries @jbarkun! You're the second person that has needed this so I think I'll add a method to snap to a scroll position rather than lerp to it like what `.scrollTo()` does.

[2020-12-17 19:05] #25 closed

[2021-01-03 19:22] will-r-chase opened #27 "Adjust scroll speed"
Just started using this library on a new project and I'm really loving it.

As a feature request I would love if I could adjust the scroll speed. Something like `asscroll.setSpeed(0.5)`

Thanks for all the work on this!

[2021-01-04 09:25] ashthornton commented on #27
Hey @will-r-chase, I suspect the option you're looking for is `ease`. The lower this number in the ASScroll options, the slower the scroll speed will be. Let me know if this wasn't what you're looking for.

[2021-01-05 01:33] will-r-chase commented on #27
Hi Ash, thanks, indeed setting ease handles most of it. The only thing I haven't been able to figure out is dynamically changing the ease. This is probably me just being dumb, but I couldn't find a simple way to change the ease once I scrolled into a particular section for example, without remaking the scroll object, which didn't seem like a good idea.

[2021-01-05 09:12] ashthornton commented on #27
Ah I see, if you'd like to change the easing after initialisation you can access that property via `ASScroll.Scroll.ease` which will allow you to change it on the fly.

[2021-01-14 09:01] #26 closed

[2021-01-14 09:01] #27 closed

[2021-01-21 15:56] jbarkun opened #28 "Performance differences between Chrome and Safari"
Hello again,

Are there known performance issues in Safari compared to Google Chrome? I have the basic demo open in both browsers, and while Chrome is buttery-smooth, Safari is noticeably slower/shakier. On the demo it isn't _that_ big of an issue, but on pages with more going on, and while scrolling through sections with animations added on (through GSAP ScrollTrigger or similar), the shakiness i

[2021-01-21 20:17] Mishkamshka opened #30 "Uncaught SyntaxError: Cannot use import statement outside a module"
Hi, I'm using ASSCROLL for the first time, and I'm stuck. I've tried to figure it out by myself, but I'm not very knowledgeable in JS.

I copied the GSAP x Asscroll Codepen Js and my site now says "Uncaught SyntaxError: Cannot use import statement outside a module". I literally copied and pasted it.
I add the JS file to my Js folder, and I added it to header.php and functions.php, but I can't get

[2021-01-24 11:14] ashthornton commented on #30
Hi @Mishkamshka, that codepen demo is used with an ES module environment hence the `import` statements. If you want to use it using regular `<script>` tags you can use the compiled version via JSDelivr:

`<script src="https://cdn.jsdelivr.net/npm/@ashthornton/asscroll@1.7.4/build/asscroll.min.js"></script>`

Then initialise in your JS like:

`const asscroll = new ASScroll.default()`

[2021-01-24 11:26] ashthornton commented on #28
Hi @jbarkun, it's been a while since I've done some serious performance testing in Safari as I don't have easy access to a Mac at the moment. But could you check the performance in these GSAP ScrollTrigger demos from other popular smooth scroll libraries and see if there's any difference?

https://codepen.io/GreenSock/pen/1dc38ca14811bc76e25c4b8c686b653d
https://codepen.io/GreenSock/pen/oNLqgBm

[2021-01-24 21:41] JonQuayle commented on #28
Just chiming in here as I'm also experiencing a significant degrade in performance on Safari compared to Chrome and Firefox. Chrome is far and away the smoother experience, followed by Firefox which is smooth but seems slower to scroll through a page. Safari is a very jarring experience - I will admit I haven't been able to upgrade my machine to the latest OS (could be a factor) but it would be go

[2021-01-24 22:23] ashthornton commented on #28
Thanks @JonQuayle I will take a proper look into why it's struggling so much in Safari when I get the chance.

[2021-01-25 04:06] chrisvidal opened #31 "about scrollDirection and exiting overflow-y div inside"
Hi,
thanks for this light scroll library.
I was wondering how to get the scrollDireciton, to manipulate the header visibility in my case.
Also, I have a div with an overflow-y that does not work anymore when I enable the scroll, is this a bug or expected?
how to handle this case in your opinions?

thanks

[2021-01-25 14:21] jbarkun commented on #28
Hi @ashthornton, thanks for looking into this. I looked at the links you provided in both Chrome and Safari, along with ASScroll's GSAP demo again. There was a certain degree of sluggishness present in all three demos, but like @JonQuayle noted, it wasn't all that visible in locomotive or smooth-scroller and probably wouldn't have been noticed at all without a side-by-side comparison in Chrome. AS

[2021-01-26 16:39] jbarkun commented on #28
I've talked with a colleague with the most recent update of Safari, and they confirmed that the issues are still present regardless of the update.

[2021-01-26 20:12] ashthornton commented on #28
Thanks for confirming @jbarkun

[2021-01-30 18:31] stevengrimaldo opened #32 "Question about data prop usage in HTML"
Is there a plan to put in the README the available properties in HTML? or is there and i'm not seeing it?

I ask because i am comparing using this to locomotive and i see you have data-speed available which i like but it makes me then want to know what else i can do with ASS.

thank you :)

[2021-02-01 09:17] #30 closed

[2021-02-02 12:27] Namchee opened #33 "Middle Click Scrolling"
Great library you have here!

I want to request a feature: support for middle-click scrolling.
As far as I know, this library doesn't middle-click scrolling which obviously hinders Accessibility.

[2021-02-02 15:06] ashthornton commented on #33
Hi @Namchee , middle click scrolling should work fine. At least it does on my Windows machine. How are you testing?

[2021-02-02 15:08] ashthornton commented on #32
Hi @stevengrimaldo , where are you seeing the `data-speed` attribute?

ASScroll only provides smooth scroll, which you then combine with your own way of animating things on scroll like by using [GSAP's ScrollTrigger](https://greensock.com/docs/v3/Plugins/ScrollTrigger) as shown in [this demo](https://codepen.io/ashthornton/pen/PoZRwPW).

[2021-02-02 15:12] ashthornton commented on #31
Hi @chrisvidal , you could get the scroll direction like so:

[code]

Could you show me an example of your overflow issue? Using Codepen or similar.

[2021-02-03 01:57] Namchee commented on #33
Tested it locally (zero-config) with:

- **OS**: Ubuntu 20.04
- **NPM Version**: 6.14.11
- **Browser**: Version 86.0.4240.198 (Official Build) (64-bit)

I've also tried the CodePen version you provided as a demo. Both didn't work

[2021-02-04 04:34] chrisvidal commented on #31
Thanks @ashthornton

here a quick codepen illustrating the issue

https://codepen.io/chrislabz/pen/qBqOqaP

[2021-02-06 11:55] ashthornton commented on #33
@Namchee I've set up a virtual machine running Ubuntu 20.04 and middle-click scrolling works fine in Firefox. I've looked into middle-click scrolling Chrome and it seems you need to either install [this extension](https://chrome.google.com/webstore/detail/autoscroll/occjjkgifpmdgodlplnacmkejpdionan), or modify some hardware settings via `xinput`.

Can you confirm your setup so I can try to re-prod

[2021-02-06 11:59] ashthornton commented on #31
Note: related to #24

[2021-02-06 14:37] Namchee commented on #33
@ashthornton I've tried the demo on Firefox on Ubuntu 20.04, it works normally seems I forgot to set the `auto-scroll` options there.

As for Chrome, still no luck, even with the extension. I think I'll play around with `xinput`. I'll give you updates about that as soon as possible.

[2021-02-08 13:33] Namchee commented on #33
Tried it on a Chrome in a VM, still doesn't work. Fortunately, running [this script](https://unix.stackexchange.com/questions/472398/can-i-make-middle-mouse-scrolling-on-linux-behave-more-like-autoscrolling-on-win/472451#472451) on that VM fixes the middle-click scrolling issues.

I think I can safely close this issue, as this is not related to the library at all (you can remove the `bug` label to

[2021-02-08 13:33] #33 closed

[2021-02-18 13:02] #32 closed

[2021-02-18 14:17] Nnaji-Victor opened #34 "Disabling the asscroll on menu or modal open"
Currently using Asscroll on my gatsby project and everything seems to be going fine until I discovered an anomaly with the behaviour of the page when the menu is open.

 Before using the library, when the menu is set to open, the page is fixed and doesn't scroll until the menu is set to close again. With Asscroll, when the menu is opened, the page would still scroll since the fixed position no lon

[2021-02-18 14:36] ashthornton commented on #34
Hi @Nnaji-Victor, this one will be hard to debug without seeing the problem myself, is there a way you can create a reduced working demo on Codepen for example, or share more of your code?

Does this mean disabling does what it is supposed to if you just call it outside the conditional?

Also, you should need to call `asscroll.enable(true)` when re-enabling as the first parameter controls the rest

[2021-02-18 15:20] Nnaji-Victor commented on #34
I made this quick demo to demonstrate the issue I am currently facing https://ikunw.sse.codesandbox.io/

The sandbox is https://codesandbox.io/s/xenodochial-brahmagupta-ikunw

[2021-02-18 15:51] ashthornton commented on #34
I can't see `asscroll.disable()` being called anywhere. You need to call this to prevent the page from scrolling.

[2021-02-18 15:56] Nnaji-Victor commented on #34
Yes. I mean, I only need the asscroll.disable()  when the menu is open and then enabled when the menu is closed.

I have updated the layout.js to include  this conditional -   ` open ? asscroll.disable(): asscroll.enable();`

the issue still persisted.

Take a look again at the sandbox.
https://codesandbox.io/s/xenodochial-brahmagupta-ikunw?file=/src/components/layout.js:994-1043

[2021-02-18 16:02] ashthornton commented on #34
I'm not that familiar with React, but won't that just check if `open` is true/false when first loading the page? It's not being called each time `open` changes.

I'm unable to make changes to the codesandbox without it forking my own version, which can't run because of errors.

[2021-02-18 16:05] Nnaji-Victor commented on #34
The conditional is inside a useEffect where open is passed as a dependency meaning that it will always run when there is a change in open.

I can invite you to edit it without having to run install. I will need your email to do that.

[2021-02-18 16:08] ashthornton commented on #34
Are you able to invite using just my username? `ashthornton`

[2021-02-18 16:14] ashthornton commented on #34
I see what the issue is - the `useEffect` callback is being run every time the button is pressed, so you're making new instances of ASScroll every time. You need to run all of that code just once, then run asscroll.enable/disable during the effect callback.

[2021-02-18 20:12] Nnaji-Victor commented on #34
Thank you for your assistance. Now I know what the problem is However, Instantiating ASScroll outside a useEffect will trigger an error so I will take some time to find the best way to fix it.

[2021-02-18 20:24] ashthornton commented on #34
Someone had a similar issue I believe: https://github.com/ashthornton/asscroll/issues/18

This might help: https://www.gatsbyjs.com/docs/debugging-html-builds/#how-to-check-if-window-is-defined

[2021-02-18 20:24] #34 closed

[2021-02-22 23:11] ashthornton commented on #31
@chrisvidal I've added the ability to add a class to an element (like your overflow element) that will prevent ASScroll from scrolling the page. It's available in the latest version (1.7.5 - https://github.com/ashthornton/asscroll/commit/69ecd839d2896f06fe865b607c21637d72848c77).

The default class to add is `.asscroll-block` but you can change this in the configuration options.

It essentially ad

[2021-02-23 21:52] ashthornton commented on #24
Part of this issue is fixed in 1.7.6 by providing the class `.asscroll-block`, which can be added to the dropdown element in the Select2 options:

[code]

This will prevent the page from scrolling when trying to scroll the dropdown element. The issue of the dropdown position not syncing with the page scroll is out of the scope of this project and would just require some manual position updates wit

[2021-02-23 21:52] #24 closed

[2021-03-02 12:42] ashthornton commented on #28
I now have access to a 2014 Macbook Pro and I've been testing to try and replicate the Safari performance issues mentioned here, but I'm unable to see any major drops in framerate when viewing ASScroll-based projects. There are some minor frame drops occasionally, but for the most part it matches the performance of Chrome.

Can you provide an example that gives you issues?

[2021-03-02 14:39] JonQuayle commented on #28
Feel free to check out my site for the issue I was seeing - https://www.jonquayle.co.uk. Still in the process of a bit of a redesign but I left it live. It is buttery smooth in Chrome by comparison. Thanks @ashthornton.

[2021-03-02 16:10] ashthornton commented on #28
@JonQuayle in your case, it seems that ASScroll may not be the bottleneck of your site when it comes to performance. It looks like some of the most expensive operations come from a script called 'midnight.jquery.min.js'. It's doing a lot of calculations that cause layout thrashing and reflow, so this isn't going to help. It seems that this script is also requesting an additional animation frame on

[2021-03-03 16:28] JonQuayle commented on #28
@ashthornton Ah I see, thanks for pointing me in the right direction. I'll give this a go and see how it gets on, thanks.

[2021-03-23 22:21] paullangton opened #36 "Asscroll + Highway.js"
Hi Ash,

This one might be a little difficult to recreate so will try explain the best I can.

I'm trying to use Assroll with es modules and highway js where I have an init and destroy function in my scroll.js file. Asscroll setup is default with all the css. I've even tried the disable native scrollbar method.

In the highway renderer.js file I call the two functions as normal. destroy on leave,

[2021-03-24 08:49] ashthornton commented on #36
Hey @paullangton could you paste in your code so I can see exactly what you're doing? As in your Highway `onLeave()` and `onEnterCompleted()` functions?

[2021-03-24 09:47] paullangton commented on #36
Of course, here is the scroll.js have simplified it, followed by the renderer.js - I've put destroy in both onLeave() and onLeaveCompleted

Note, all components are called into a components index.js and where scroll is being called into the renderer.js file this will usually inti and destroy all the ones inside the renderer html tags.

Let me know if you need anything else.

// Scroll.js
import AS

[2021-03-24 10:02] ashthornton commented on #36
It looks like you're initialising a new ASScroll instance every time `onEnterCompleted()` is run. You want to have only one instance which you then call `enable()` and `disable()` on.

There's various ways of setting up a Highway renderer to run code only once on site load, but the easiest way might be to make the ASScroll instance outside of your renderer:

[code]

[2021-03-24 10:05] ashthornton commented on #36
You can set up a 'first load' function within a Highway renderer by overriding the `setup()` function in the Renderer class:

[code]

I do this on every project as it gives better control over that initial site load

[2021-03-24 10:35] paullangton commented on #36
Thanks for your reply Ash.

I thought initialising the plugin after onEnterCompleted() allowed it to re-calculate the new page height.

I'v had a quick play with the DefaultRenderer extends Highway.Renderer but just can't seem to get it to initialise again after the page transition.

First time using highway.js. So will dig a bit deeper into the docs.

I note you have a highway-kit which seems to

[2021-03-24 10:43] ashthornton commented on #36
Calling `.enable()` re-calculates the page height by default so you don't need to re-init.

That is pretty out-dated but I think some of the core concepts are in there.

[2021-03-24 11:35] paullangton commented on #36
Hi Ash - got it working - feel free to close this.

I just removed asscroll out of it's own scroll.js file and called it directly into my components.js file where I use the enable() and disable()

That way (as you said) i'm only creating one instance of asscroll. Has fixed the page jump.

I look further into your suggestion with the firstload. Good concept.

Thank your help and quick repsonses.

[2021-03-24 11:38] ashthornton commented on #36
No worries @paullangton, glad you got it working :)

[2021-03-24 11:38] #36 closed

[2021-03-24 11:39] #31 closed

[2021-03-26 14:28] urbgimtam opened #37 "How to use with libs like AOS (animate on scroll)?"
Hi.

When using with other libraries that use intersectionObserver like AOS, scrolling is smooth but the other library only executes/affects its target elements after smooth scroll stops.

This leaves a huge blank area that looks an error, until the user stops scrolling, which then updates all effects.

Any ideas on what can be done?
I know that in GSAP we can use ScrollProxy, but AOS doesn't have

[2021-03-26 14:41] ashthornton commented on #37
Hi @urbgimtam, if that library relies solely on IntersectionObserver to detect when elements are in view, then unfortunately it won't be compatible with the smooth scroll technique that transforms the page, which is used by ASScroll and most other popular libraries.

This would be something I would ask the author of AOS about to see if there is a workaround.

[2021-03-26 14:41] #37 closed

[2021-03-26 14:57] urbgimtam commented on #37
Ok, thank you

On Fri, Mar 26, 2021, 14:41 Ash Thornton ***@***.***> wrote:

[2021-04-27 14:44] MarcoTorcolacci opened #39 "Asscroll and Barba.js"
Hello Ash,
can you give me some tips to make the two live together?

I start to basic example
`barba.init({
  transitions: [{
    name: 'opacity-transition',
    leave(data) {
      return gsap.to(data.current.container, {
        opacity: 0
      });
    },
    enter(data) {
      return gsap.from(data.next.container, {
        opacity: 0
      });
    }
  }]
});`

The transition works then after

[2021-04-27 15:41] ashthornton commented on #39
Hi @MarcoTorcolacci,

I'm not that familiar with Barba but I'm sure you need to apply the same concept as with any other PJAX navigation. Meaning that you need to update the page that ASScroll is scrolling with the new one that Barba loads in. Like this:

`asscroll.enable(false, true, document.querySelector('.new-page))`

With `.new-page` being the page element Barba load ins.

Let me know if this

[2021-04-28 10:44] MarcoTorcolacci commented on #39
Hi @ashthornton ,
moving the Barba div after the asccroll div is better.
`<div class="asscroll-container">
    <div class="asscroll-page">
    <div data-barba="container" data-barba-namespace="home">`

Now I am left with the problem that the size of the page remains the starting one ... so sometimes you see too much white sometimes the page is cut.
I should put something inside the beard beforeEnt

[2021-04-28 10:46] ashthornton commented on #39
Are you running `.enable()` and `.disable()` at the correct points during your transition?

[2021-04-30 23:03] StevenStavrakis opened #40 "Is there a way to have a footer inside the scroll container, but outside the scroll element?"
Given the following structure

[code]

Is there any way to have the footer scroll into view at the bottom as if it were in the scroll element? Due to the page templating system I'm using, it is problematic to move the footer and body content into another div.

[2021-05-01 09:49] ashthornton commented on #40
Hi @StevenStavrakis, there is some functionality that isn't documented at the moment which allows you to target multiple elements to translate within the scroll container. If you add `data-asscroll` to elements you wish to scroll it should achieve what you're looking for. You can change the selector if you wish like so:

[code]

Here's a codepen example: https://codepen.io/ashthornton/pen/13a5d813

[2021-05-01 09:52] ashthornton opened #41 "Firefox scroll speed has decreased"
Perhaps due to a change in the deltaY value from the wheel event

[2021-05-01 09:55] ashthornton opened #42 "Provide positive scroll position values"
scrollPos and smoothScrollPos both return the translate Y value rather than the 'true' scroll position. This makes it confusing when dealing with the value externally, usually resulting in having to manually flip it like `-asscroll.smoothScrollPos`

[2021-05-01 10:02] ashthornton opened #43 "Create PJAX navigation example"
A common question is how to use ASScroll with a PJAX navigation like Highway or Barba. Make a demo showing the core concept or how to use ASScroll in this context.

[2021-05-01 10:10] ashthornton opened #44 "Scroll event reports position before it is clamped"
Listening to the scroll event like: `ASScroll.on('scroll', scrollPos => console.log(scrollPos))` and scrolling to the top or bottom of the page will report the last scroll position before being clamped.

Clamp the scroll position BEFORE emitting this event.

[2021-05-01 10:11] ashthornton opened #45 "Emit event when scrollTo() finishes"
Emit an event when the smooth scroll as a result of calling scrollTo() finishes

[2021-05-01 13:54] #41 closed

[2021-05-01 13:54] #44 closed

[2021-05-01 13:55] ashthornton commented on #45
https://github.com/ashthornton/asscroll/commit/aa660d8961c4ca317ca9065c285db3d4ba30db39

[2021-05-01 13:55] #45 closed

[2021-05-02 16:59] ashthornton opened #46 "Library is not exposed correctly in build version"
When using the library from a CDN, the class can only be accessed via `ASScroll.default()`.

[2021-05-02 17:00] ashthornton commented on #42
https://github.com/ashthornton/asscroll/commit/e4e30c9b35a66e7fd56228cd59c254e04cf03573

[2021-05-02 17:00] #42 closed

[2021-05-02 17:02] ashthornton opened #47 "Allow pre-selected elements to be passed through to ASScroll"
The scroll container and inner elements can only be selected via a string. Allow `HTMLElement` and `NodeList` through too

[2021-05-02 17:03] ashthornton commented on #46
https://github.com/ashthornton/asscroll/commit/ee0329d5d06f91bfbaafc4be5d6a804d754ca04d

[2021-05-02 17:03] #46 closed

[2021-05-02 17:40] ashthornton opened #48 "Update Codepen examples with v2 syntax"

[2021-05-02 18:22] ashthornton commented on #47
https://github.com/ashthornton/asscroll/commit/ebab92be58c00a9890f7fb3c2b77a756a9f5e0f9

[2021-05-02 18:22] #47 closed

[2021-05-03 11:08] #12 closed

[2021-05-03 16:17] #43 closed

[2021-05-04 07:52] #48 closed

[2021-05-04 07:52] ashthornton opened #49 "Horizontal Scroll Demo"

[2021-05-04 07:53] ashthornton opened #50 "WebGL Demo"

[2021-05-04 14:02] StevenStavrakis commented on #40
That seems to have worked in my particular use case. Having recently looked into scroll-jacking libraries, I can say that ASScroll has been the absolute best. Thanks!

[2021-05-04 14:02] #40 closed

[2021-05-04 14:43] ashthornton commented on #40
You're welcome @StevenStavrakis :)

[2021-05-04 17:18] StevenStavrakis commented on #40
One note: there seems to be some desync between the border of the two different elements causing a white flickering line while scrolling. For now, it isn't a problem, but a consideration.

[2021-05-05 13:16] ashthornton commented on #40
There's nothing I can think of that I could implement on the ASScroll side to fix this, it's a quirk of sub-pixel rendering on the `transform`. It would be down to the user to make sure background colours are on an outer element or adding box-shadow to cover the gap for example.

[2021-05-06 10:05] #50 closed

[2021-05-06 14:38] GodwinEbikwo commented on #2
Hi, thanks for a cool library and open-sourcing it. I am trying to get it to work using Next.js but having isssues.

[2021-05-06 14:49] ashthornton commented on #2
Hi @GodwinEbikwo, please open a new issue and provide me with more details.

[2021-05-06 19:14] iamlinkus opened #51 "Touch scroll performance using with Webgl"
Hey!

Tried the [Touch-friendly DOM/WebGL Sync](https://codepen.io/ashthornton/pen/YzZzaVK) on my iPhone and found that the performance is strange: webgl planes flicker when moving and seem not to be updating at the same speed as the dom elements.

Tried replacing `touchScrollType` to `transform` and it synced up the planes to the dom elements, but it also made both of them flicker, whereas with `

[2021-05-06 20:22] StevenStavrakis opened #52 "Odd behaviour when using GSAP ScrollTrigger with "markers: true""
When configuring a ScrollTrigger, setting `markers: true` in the scrolltrigger options causes the page to jump around. It seems to be that once the scroll is finished getting to its final position, the page jumps another 200 - 300 px in the scroll direction.

[code]

[2021-05-06 20:36] ashthornton commented on #52
It seems that ScrollTrigger forces `position: relative` on the scroll element when markers are enabled, which in this case is the ASScroll container. This causes the jump because the native scroll syncs when the smooth scroll stops moving and moving the now relatively position container with it.

You can try setting your ASScroll container to fixed with `!important` in your CSS whilst using marker

[2021-05-07 12:06] GodwinEbikwo commented on #2
Thanks this is what I get this error: "error - ReferenceError: self is not defined
    at Object.<anonymous> (/Users/godwin/Desktop/Bloom-Fragrances/bloom/frontend/node_modules/@ashthornton/asscroll/build/asscroll.js:10:4)"

[2021-05-07 15:44] StevenStavrakis commented on #40
As for as I can tell, this issue no longer present in Firefox Developer edition, but persists in Chrome and standard Firefox.

[2021-05-08 08:23] esseifforte opened #53 "containerElement question"
Hi,
in [parameters.containerElement]  default is "[asscroll-container]", but if I wanted to apply for example "[my-container]",
and in html `<div my-container>`
the result is `<div my-container asscroll-container style=...........etc>`
why?
This is only a question for full customization.
Thanks in advance

[2021-05-12 21:53] StevenStavrakis commented on #52
In talking with the team at GSAP, there appears to be a feature coming with the next release called `fixedMarkers`.

That in conjunction with adding the markers as scroll elements via: `asscroll.enable({
        newScrollElements: document.querySelectorAll(".gsap-marker-start, .gsap-marker-end, [asscroll]")
    });`

appears to have markers working perfectly alongside the smoothscroll. They provid

[2021-05-12 21:53] #52 closed

[2021-05-12 22:25] ashthornton commented on #52
That's great news! Debugging ScrollTrigger will be so much easier now 😁

[2021-05-13 13:18] iamlinkus commented on #51
Hey, @ashthornton , any news on this?

[2021-05-13 14:51] S-n-d commented on #49
Hey Ash, if you could point us in the right direction regarding horizontal scrolling that would be awesome! I've been tinkering with it but it looks like it's currently unfinished? If I set the <main asscroll-container> width manually it works, but there's no calculation happening as of yet, right?

[2021-05-13 18:45] ashthornton commented on #51
Haven't had time to investigate this yet @iamlinkus, hoping to get to it over the next few days. Will keep you posted.

[2021-05-13 18:50] ashthornton commented on #53
Hi @esseifforte, ASScroll will add the `asscroll-container` and `asscroll` attributes to the relevant elements in order to apply some CSS in certain configurations. I may look at improving this by only adding these when the configuration is actually being used.

[2021-05-14 07:30] #53 closed

[2021-05-14 13:45] Scaalees opened #54 "IE11 v2 Issue"
Hey,

I know you've dropped IE11 support for v2. All for it!
But I was wondering if there is anything we can do to get the plugin to resolve as it's throwing out a "syntax error".

If not, no probs, is there a working example of the ASScroll v1 working with gsap and scroll triggers?

Thanks,
Jake

[2021-05-14 15:38] iamlinkus opened #55 "Highway example bug"
My team started a project with ASScroll and we're using it with Highway from Dogstudio.

We've encountered a bug where if the user scrolls down on a page and then refreshes the page, immediatelly after the refresh, the page scrolls down to the last position it was before the refresh. We thought it was a bug in our end, but after further research, forked the PJAX example (linked in the readme) and

[2021-05-14 15:53] pr1ntr opened #56 "Behavior where scroll position is repeated"
I am tryin to implement asscroll with ScrollTrigger which works fine, but I get a strange behavior **with and without** using scrolltrigger. For some reason whenever I scroll (with wheel or moving the scrollbar) the scroll progress gets to its target and then reverts to the prescroll position and does it again.  Its like something doesn't catch up with the scroll state and resets it.

My DOM is a

[2021-05-15 09:58] ashthornton commented on #54
Hi @Scaalees, I'm not sure what bundler you're using (if at all) but it's possible with Webpack for example, to include specific node modules for Babel to parse. This would convert the ASScroll source code into IE11 compatible code. I have done this in the past but I can't remember the correct config but a quick Google brings up different ways of doing it.

In terms of an ASScroll v1 + GSAP Scroll

[2021-05-15 10:23] ashthornton commented on #55
Native browser scrolling will restore the previous position after a refresh or via browser back/forward history buttons which is what causes this. I usually disable this with:

[code]

I do think ASScroll should just start at that previous position, rather than lerp to it though. So I'll update that.

[2021-05-15 10:25] ashthornton opened #57 "ASScroll should start at a page's previous scroll position rather than lerp to it"
When automatic `history.scrollRestoration` is enabled, ASScroll current lerps to the position after being enabled (see #55). It should immediately start at that position.

[2021-05-15 10:44] ashthornton commented on #56
It's hard to say without seeing a live example (maybe you could make a CodeSandbox or similar if this doesn't help), but it looks like there could be 2 ASScroll instances running at the same time, with that sort of behaviour.

Does the code inside the `useEffect` callback definitely run just once?

[2021-05-15 10:55] iamlinkus commented on #55
Was trying to figure this out yesterday and came to the same conclusion, thanks!

And I agree that ASScroll should not lerp in that specific scenario. Thanks for fixing it!

[2021-05-15 11:03] #55 closed

[2021-05-15 11:05] ashthornton commented on #49
Hey @S-n-d, it is functional, you just need the right set up. Usually this can be done with flex and setting the elements to not grow or shrink so they render at their natural width, which would cause a horizontal overflow of the ASScroll container element. I will see if I can put together a quick demo over the next day or two.

[2021-05-16 09:02] LotharVM opened #58 "Issues when using together with Next.js"
After trying several ways of using asscroll v2, I still haven't found a way to successfully use it in Next.js. In versions prior to v2, this worked:

[code]
(The  onResize was needed to calculate the new page height)

After upgrading to v2, though, I keep getting the `TypeError: ASScroll is not a constructor` error. I also tried to import it at the top (native and via next/dynamic), but then Webpa

[2021-05-17 08:53] Scaalees commented on #54
Hi @ashthornton, Thanks for getting back to me!

Yeah using webpack to bundle everything together. But was having a little trouble getting finding out what polyfill was needed.

Thanks for suppling with a ASScroll v1 demo, I'll look at implementing that rather than v2 for now.

Thanks again for your help!
Jake

[2021-05-17 08:53] #54 closed

[2021-05-17 11:46] S-n-d commented on #49
@ashthornton thanks for giving a nudge in the right direction. Looking forward to the demo!

[2021-05-17 15:58] ashthornton commented on #58
Hi @LotharVM, v2 fixed having to import or access the library with `.default`. You should just need to import via `require("@ashthornton/asscroll")`. Let me know if that fixes your issue.

[2021-05-18 12:10] LotharVM commented on #58
@ashthornton if I remove the .default, it's returning `TypeError: Cannot read property 'setAttribute' of null`

[2021-05-18 15:09] ashthornton commented on #58
@LotharVM I've seen that issue when there is no `[asscroll-container]` element on the page, or if you've updated that option then it will need to match what you've passed through.

The default HTML is:
[code]

Do you have the container element on your page?

[2021-05-18 18:37] MatHackDev commented on #22
Hi @ashthornton , thanks for this libs !

I'm using nuxt and my usecase it's transition between two pages.

I would like to go to the top of my page without smooth, but this code it's obseleted
`ASScroll.Scroll.scrollPos = y
ASScroll.Scroll.smoothScrollPos = y`

Do you have a method or code ?

[2021-05-18 18:51] ashthornton commented on #22
Hi @MatHackDev, if you're using v2 you should be able to just set `ASScroll.currentPos = 200` for example, as outlined in the docs [here](https://github.com/ashthornton/asscroll#asscrollcurrentpos--number). Does this not work for you?

[2021-05-18 19:16] MatHackDev commented on #22
Thanks for the quick answer :)

I had to change my way of doing things in my transition beceause currentPos apply after enable()

But it's works now ! Thanks.

[2021-05-19 15:59] LotharVM commented on #58
@ashthornton it works now! I was still using the old parameter names, that's why it couldn't find the container element. Thanks!

[2021-05-19 16:02] LotharVM commented on #58
One other question though: Do you think that my approach in useEffect, so updating the page height after the `routeChangeComplete` event is the correct way of doing it? I couldn't get it to work any other way

[2021-05-20 03:24] darkristy commented on #58
By any chance how are you wrapping the container in ._app.js because I keep getting this error "_null is not an object (evaluating 'this.containerElement.setAttribute')_"

[2021-05-20 08:42] ashthornton commented on #58
I'm not familiar with Next.js but the concept would follow this timeline normally:
1. Navigate away
2. Disable ASScroll (`asscroll.disable()`)
3. Load next page + assets (images/videos etc.)
4. Enable ASScroll (`asscroll.enable({ newScrollElements: newPageElement }`)

This is if the actual page element that was scrolling had changed on navigation, which may not be the case for you. In which case t

[2021-05-20 08:43] #39 closed

[2021-05-21 19:43] StevenStavrakis opened #59 "Odd behavior with GSAP ScrollTrigger "snap""
When paired with GSAP ScrollTrigger, the scrolling works fine. However, if you try to use ScrollTriggers `snap` feature, instead of snapping back to the intended position, the container crawls back several pixels at a time.

The behavior can be seen by applying `snap: 1` to any ScrollTrigger in the GSAP x ASScroll demo.

[Here is a short video showing the effect.](https://gyazo.com/c528bc2c8170d3b

[2021-05-21 19:55] StevenStavrakis commented on #59
I actually seem to have found a solution. In the initial configuration of the scrollerProxy, rather than using

[code]

[2021-05-22 08:19] #58 closed

[2021-05-22 08:40] ashthornton commented on #59
Great catch @StevenStavrakis, in my extensive usage of ScrollTrigger on other projects I've never used the `snap` property which is why I've never noticed this! When I think about it, setting `currentPos` instead of using `.scrollTo()` in that context makes complete sense since you wouldn't want it to lerp to the position, just immediately set it. Thanks for finding the solution, I've updated the

[2021-05-22 08:40] #59 closed

[2021-06-10 03:01] josueadelima commented on #28
Hello I'm using a 2015 MacBook Pro with macOS Big Sur 11.4 and Safari Versión 14.1.1 (16611.2.7.1.4); I don't see mayor differences with Chrome 91.0.4472.77 (Build oficial) (x86_64) usigin this demo https://codepen.io/GreenSock/pen/rNyyxBP

[2021-06-23 20:10] hirnreich opened #60 "Native scrollbar shows when I resize"
Hello,

I really like Asscroll but there is an issue with resizing:

Having scrolled down about 75%, if I resize the window, _the native scroll bar appears_ and doesn't go away. Asscroll still works though (but it looks kinda ugly).

I already removed some of my content and also tried adding more content - it still happens at about 75%+ ... very weird.

Btw, I already use my own resizing function,

[2021-07-02 19:36] tienuur commented on #58
Hi LotharVM, would you mind sharing a demo? I tried to work with asscroll in Nextjs as well. I cannot make it work...
I tried your method, and made sure I `require` the package without default. There is a `[asscroll-container]` attribute in the JSX as well. But it keeps giving me `TypeError: Cannot read property 'setAttribute' of null`.

`function MyApp({ Component, pageProps }) {
  const router =

[2021-07-03 09:21] tienuur commented on #58
I found a solution: I have to explicitly state `asscroll-container="true"` to make it work.

[2021-07-03 10:07] ashthornton commented on #58
Hi @tienuur , this must be a quirk with Nextjs and custom attributes. Glad you found a solution!

[2021-07-03 10:09] ashthornton commented on #60
Hi @hirnreich, could you provide me with a working demo of this issue? It sounds like you may have some other CSS/JS affecting the container, as this isn't an issue when only ASScroll is running.

[2021-07-03 10:10] ashthornton commented on #56
Closing due to inactivity.

[2021-07-03 10:10] #56 closed

[2021-07-03 10:12] ashthornton commented on #49
Hi @grommas, are you asking if it would be possible to scroll with a horizontal mouse wheel? Or if you could just change the scrollbar location to the bottom and the orientation to horizontal, when in horizontal mode?

[2021-07-03 10:56] tienuur commented on #58
@ashthornton Thanks! What a relief!

[2021-07-03 11:59] grommas commented on #49
Hi @ashthornton, thanks for your reply. Both!

[2021-07-03 12:34] ashthornton commented on #49
@grommas so the current horizontal scroll functionality is designed to work the way it does now - moving the page horizontally based on vertical scroll position. It's a design decision based on the fact that it is uncommon to have a horizontal scroll wheel on a mouse but I also wanted to allow horizontal page movement.

I think it could be nice if ASScroll detects whether the page has X or Y overf

[2021-07-19 08:36] darkristy commented on #58
Say you have paginated list, how do you resize the page when the list container height changes

[2021-07-19 08:37] ashthornton commented on #58
`asscroll.resize()`

On Mon, Jul 19, 2021 at 9:36 AM Kahlil Whitfield ***@***.***>
wrote:

[2021-07-19 08:55] darkristy commented on #58
Thanks man, i figure it out. I have to say this library has saved me alot headache.

[2021-07-27 11:47] grommas commented on #49
Thanks for your answer! I think for trackpad users it’s logical to scroll the x-axis with horizontal swipes. I totally understand, that vertical scroll inputs make sense for some design decisions, but for others it may break with the intention of native horizontal scroll elements.

[2021-07-27 11:57] grommas opened #61 "Multiple scroll areas"
Hi @ashthornton

I’m fiddling around with your scroller (again). Is it possible to have multiple scroll areas? It would be nice to have separated and smoothly scrollable areas. My current tests always have some glitches.

[Codepen: Multiple scroll areas (test 1: one scroller)](https://codepen.io/grommas/pen/ExmoMwW?editors=0010)
[Codepen: Multiple scroll areas (test 2: multiple scrollers)](https:/

[2021-07-27 16:16] ashthornton commented on #61
This is something I have thought about adding before. It would be nice to have the option to create multiple instances and target multiple elements

But right now as you can see it would involve some really hacky methods in order to get this to work. The main issue is that ASScroll listens to `wheel` and `scroll` events on the `window` rather than the element you're scrolling, so it will scroll al

[2021-07-27 16:17] #60 closed

[2021-07-28 13:05] grommas commented on #61
Makes sense. So I’ll try to find another solution for now. Nevertheless it would be a great enhancement! Thanks for your reply!

[2021-07-30 19:48] S-n-d commented on #56
@pr1ntr did you find a solution for this? Running into the exact same problem.

[2021-08-02 16:24] ashthornton opened #62 ".scrollTo() doesn't work when touchScrollType === 'none'"
Use window.scrollTo when this is the case

[2021-08-09 15:17] richard-unterberg opened #63 "Feature Request: scrollTo duration / ease"
Hey,
thanks for the great plugin.

It would be nice to have access to params like duration and easing of the `asscroll.scrollTop()` method.

In the meantime I´m curious to know about if it is possible to override the scrollTo method with gsap´s "scrollTop" or "y"-tweens. I´ve tried the following which is not working as expected (nothing happens until the delayed call enables assccroll and hard res

[2021-08-09 15:38] ashthornton commented on #63
Hey @richard-unterberg, I think the issue with your code there is that you're trying to animate the page element without telling ASScroll you are doing so. Check this issue for an idea of how you might achieve this: https://github.com/ashthornton/asscroll/issues/25#issuecomment-744319156

An updated version of that solution would be:

[code]

[2021-08-09 15:41] ashthornton commented on #63
In terms of adding the feature within ASScroll to control the duration and ease of the scrollTo() function, I don't think it's something I would add because it would mean adding in a large list of all possible easings and changing the way smooth scroll works just for this one instance. It is designed to be minimal in order to closer match the native window.scrollTo() functionality.

[2021-08-09 18:13] richard-unterberg commented on #63
Hey Ash,
thanks for the fast answer. This works perfectly.
Thanks for help and the information.

[2021-08-09 18:13] #63 closed

[2021-08-17 07:06] ashehzadgec opened #64 "Use of Passive listener"
Hi,

How i can implement passive listener with this awesome library. I am trying to implement following code:
https://github.com/zzarcon/default-passive-events

Any help will be really appreciated.

[2021-08-20 00:27] yunusbayraktaroglu opened #65 "Is there an api to set multiplier?"
Hello.
A single wheel event causes 333px movement, how can I change this?

[2021-08-24 05:31] watarutmnh commented on #56
I had a similar issue.
In my case I could fix it removing style below:
[code]

[2021-08-28 16:02] S-n-d commented on #56
@watarutmnh thank you very much! That is indeed the solution.

[2021-09-22 07:17] coolemur opened #66 "URL Anchors not working in safari"
```<a href="#my-section">Scroll to link</a>```
...
```<section id="my-section"></section>```

Expected: after link is clicked, page should scroll to section.

This works in Chrome using asscroll.js, but doesn't work in Safari (Version 14.1.2 (16611.3.10.1.6))
Is this a bug, or am I missing something?

I know it can be implemented using asscroll.scrollTo, but this doesn't look clean.

[2021-09-22 13:24] iamlinkus opened #67 "scrollTo on touch devices has no easing"
I noticed that the scrollTo method when used on touch devices jumps to the position instead of easing into it. Is this by design or is this a bug?

[2021-09-27 14:07] ashthornton commented on #67
Hi @iamlinkus , touch devices use native scroll so there isn't any natural easing when setting the scroll position, which is what `scrollTo()` does. On touch devices this function essentially is an alias for `window.scrollTo()` so you don't have to manually switch in your code when you need to do the same. If you want to ease to a position on touch devices then you'll need to handle this yourself.

[2021-09-27 14:07] #67 closed

[2021-10-03 07:14] yvikasofficial opened #68 "Asscroll not working at all"
Hi,
I'm not sure what i'm missing but i can't get asscroll working.
I followed the DOCS.

This is the simple html code please take a look and let me know.
Thank you.

[https://codepen.io/yvikasofficial/pen/ZEyNEeW](https://codepen.io/yvikasofficial/pen/ZEyNEeW)

[2021-10-03 10:44] ashthornton commented on #68
You're missing the inner HTML element for asscroll to transform:

[code]

[2021-10-03 10:44] #68 closed

[2021-10-13 09:49] ashthornton opened #69 "Provide way to detect if the page is actively being transformed"
Should also reflect `enabled` flag

[2021-10-13 09:55] ashthornton opened #70 "Fix auto-inversion of target position when using .scrollTo on touch devices"
https://github.com/ashthornton/asscroll/blob/c1c67f97f43177b8b5573e81b1b0659fbe3ba2e0/src/Controller.js#L222

[2021-10-14 14:41] jakewhiteley opened #71 "Add a jumpTo type method"
Sometimes you want to get the smoothed element to a Y offset without lerping there.

Could we get a `jumpTo()` method, or a flag on `scrollTo` which indicates the new position should be set instantly, rather than lerped to?

[2021-11-09 21:07] #65 closed

[2021-11-10 09:09] ashthornton commented on #71
@jakewhiteley did you try just setting `asscroll.currentPos = y`? As per the example here: https://github.com/ashthornton/asscroll#asscrollcurrentpos--number

[2021-11-23 16:29] iamlinkus opened #72 "Scroll jumps up when enabling"
Hey, I'm trying to find out what causes a scroll jump up on a project I'm working on.

I have a focus section which when reached locks the scroll using `asscroll.disable` and once certain criteria are met (scrolled enough while being locked) unlocks the scroll using `asscroll.enable` with `restore: true`.

I'm dependent on the `wheel` event while the viewport is locked as that's what eventually tr

[2021-12-01 20:59] #71 closed

[2021-12-01 21:18] #70 closed

[2021-12-01 21:18] #62 closed

[2021-12-01 22:05] #69 closed

[2021-12-23 14:11] m90khan commented on #15
Any example to implement this in React ?

[2021-12-29 20:59] marshallhenhawke opened #73 "Scroll jumps back to initial start position on Nuxt?"
Hey there, thanks for the great package. Not sure if you can help with this but just wondering if you could point me into the right direction. I'm trying to get the library to work on Nuxt and everything works great except after I get done scrolling, the scrollbar jumps back to the initial start and then back to the end.

Here's a video of the behavior.

https://user-images.githubusercontent.com/5

[2021-12-30 18:54] marshallhenhawke commented on #73
Figured out the problem after many hours of headache.

Turned out to be a conflict with Bootstrap v5. They added in  scroll-behavior: smooth; to the html tag. This would cause it to do the jumping. Changed the variable to false and now she works.

Thanks again for library, works perfect.

[2021-12-30 18:54] #73 closed

[2022-01-09 17:48] arturs706 commented on #15
How to implement this in React?

[2022-01-24 05:36] eaaasun opened #74 "Works in Codepen only"
Hello, I can't get asscroll to work inside of any other environment other than codepen. The code is 1:1 in both [codepen](https://codepen.io/eaaasun/pen/XWzrdwV) and my desktop.

Here's the HTML code for my desktop recreation:

[code]
I'm pretty sure the problem is the way the JS  is loaded, but I've tried putting the script tag in both the `head` tag and the `body` tag. I've tried it in both Fire

[2022-01-25 04:48] eaaasun commented on #74
It works now! You need to add `type="module"` into the script tag that imports the asscroll!

So the code now works, and looks like this:
[code]

[2022-01-25 04:48] #74 closed

[2022-01-25 06:21] eaaasun opened #75 "Jumps farther than expected in firefox"
Hello,

I've noticed that the first time I scroll on an asscroll site the page jumps down much farther than expected in firefox. The rest of the scrolling continues smoothly, but This isn't an issue in other browsers (Chrome/Chromium in my testing).

I've attached a video of what's going on; I was scrolling at a constant rate down.

https://user-images.githubusercontent.com/64815861/150921970-ab52

[2022-03-10 22:05] kaydwithers opened #76 "Is it possible to have tabindex inputs and buttons work with AsScroll?"
Currently if I press tab in a form with tabindexing, it does not focus on the next input. I also can not use autofocus on inputs or press tab to select buttons.

Is this possible in AsScroll?

[2022-03-11 03:17] kaydwithers opened #77 "Is it possible to disable AsScroll?"
In JavaScript this can be done via..
`window.matchMedia('(prefers-reduced-motion: reduce)')`

Is this currently possible or is there any plan to do so?

[2022-03-13 23:23] #76 closed

[2022-03-13 23:25] kaydwithers commented on #76
Tabindexing does work Asscroll, I seem to have a different issue.

[2022-03-14 03:54] ChaineYe opened #78 "How to know when an element scrolls into view?"
Hii, thanx for this nice lib :)
I wonder how to get one specific element's scroll position, or get a state like 'something-is-in-view-now' straightly.
Is there anything I missed in the doc?

[2022-03-17 13:19] iamlinkus commented on #77
There's a `asscroll.disable`method. It's documented in the readme: https://github.com/ashthornton/asscroll#asscrolldisableparameters

[2022-03-18 02:21] ChaineYe commented on #78
@iamlinkus thanx for reply
I checked other issues, in #37 , they said

That makes me think whether `intersectionObserver` will do the job...
But again I appreciate your answer, I'll look into it later 👀👍🏻

[2022-03-18 02:21] #78 closed

[2022-04-11 09:18] lm-esilab opened #80 "Window jumps to top when using a form in Safari v15.4"
Hello, thank you for the nice library !

The only issue I have is with the last version of Safari (v15.4, it didn't appear in v15.2). When focusing or typing in an input, the window jumps to the top. It seems to happen because of Safari which forces the window to scroll so that the inputs stay into the view when a user interacts with them.

I hope that everything's clear, here is a video to explai

[2022-04-12 09:23] iamlinkus commented on #80
Would be awesome if you could share a codepen example of the problem. I've tried a few of my projects using ASScroll and I cannot reproduce the problem on my end (latest safari). Even focusing using TAB ASScroll scrolls the page smoothly so that the input is in the view (same on chrome).

[2022-04-12 11:40] lm-esilab commented on #80
I finally solved the bug !
Thank you @iamlinkus for making me realize that the problem was actually coming from my project.

If someone has the same issue, adding `overflow: hidden;` to the `asscroll-container` element solved it.

[2022-04-12 11:40] lm-esilab commented on #80
I finally solved the bug !
Thank you @iamlinkus for making me realize that the problem was actually coming from my project.

If someone has the same issue, adding `overflow: hidden;` to the `asscroll-container` element solved it.

[2022-04-12 11:40] #80 closed

[2022-04-12 16:03] #77 closed

[2022-04-20 09:51] iamlinkus opened #81 "Does not scroll while mouse is over iframe."
I've added a video embed iframe on my page and noticed that I'm unable to scroll while the mouse is hovering over the iframe. The readme states that it shouldn't stop working in such a situation, but it does.

Steps to reproduce:
1. Create a page that uses asscroll and has an iframe.
2. Open that page, scroll to the iframe, wait till the scroll ease stops completely.
3. Try to scroll again while h

[2022-04-20 10:22] ashthornton commented on #81
Hey @iamlinkus, this example has an iframe and it seems to be working as intended for me: https://codepen.io/ashthornton/pen/YzWXZqL

It will still try to continue to scroll within the iframe for a certain amount of time until you stop scrolling, then it will continue scrolling outside of the iframe.

Does that example work for you? What browser, OS and type of mouse are you using?

[2022-04-20 11:20] iamlinkus commented on #81
Opened your link on MacOS chrome, tried to scroll and it had the same bug/behavior that my website had. Then started thinking that if you're saying that it behaves as it should, there's something different on your side. Then I opened safari and it works as it should there, I can continue to scroll.

So this seems like a bug only on MacOS Chrome (both latest versions). Tried both the trackpad and a

[2022-04-25 07:30] iamlinkus commented on #81
I have no idea what happened, but it suddenly started working, both on your example and on mine. It's super strange, since I didn't update anything. Nothing comes to mind, but it must've been something specifically broken with my browser which fixed itself after a browser restart. Sorry to have wasted your time on this, I'll close this issue now. Thanks for your help, as always!

[2022-04-25 07:30] #81 closed

[2022-04-26 08:47] sebastianjung opened #82 "How to properly remove event listener on window.object?"
Hey there,

first of all thank you for the awesome library. Was actually the only one i found which fits the need of the project i'm working on.

I'm using it in conjuction with nuxt 2 / vue 2 and having a hard time making it work correctly.

Reproducing the error:
1. Entering the site first time: Scroll works as expected
2. going back in browser and revisit the same site: Scroll is double the spe

[2022-04-27 08:38] ashthornton commented on #82
Hey @sebastianjung, glad you're enjoying the lib :)

It sounds like you're creating a new instance of ASScroll every time you navigate to another page. The idea is to create a single instance that you then disable and enable accordingly, passing your new page element to the `enable()` function when ready.

Here is an example using the PJAX library Highway which should explain the same concept: htt

[2022-04-29 06:32] sebastianjung commented on #82
@ashthornton Thank you very much for looking into this.

sadly i was not able to import the library as it throws "self is not defined" error.

I am only able to use the library when the app is already mounted via an import('@ashthornton/ass...) statement.

Not sure what is causing this issue but i can't get it to work.

I tried a workaround where i initted only one instance and reuse this between

[2022-04-29 08:19] sebastianjung commented on #82
@ashthornton
It seems to work when i set the asscroll-container to an element that does not get destroyed (like the most outer div inside a  layout file of the website).
So maybe there is a possibility to reset the containerElement somehow? It's only a getter on the instance right now. Would it make sense to provide a setter or am i using the library wrong here?

The thing that's conflicting in my

[2022-05-07 11:10] logotip4ik commented on #75
Same here. But I also discovered that the scroll is jumping around only when user is using touchpad, if you use mousewheel it will behave as intended.

P.S. Using firefox 100

[2022-05-09 05:40] RohitKS7 opened #83 "Asscroll not working with scrolltrigger which consist horizontal scroll"
Hey, Asscroll team!

I love your product very much but recently when trying to use it in this codepen
 https://codepen.io/rohitks7/pen/BaYjgXY?editors=0010

 it's not working at all.
What am I doing wrong?

Can anybody help me!
thanks in advance.

[2022-05-09 09:20] ashthornton commented on #83
Hi @RohitKS7, there's no way of ASScroll knowing what element to use as the page.

You need to either pass it to the constructor options like: `containerElement: document.querySelector(".site")`

or add the attribute to the element in the HTML like: `<div id="page" class="site" asscroll-container>`

[2022-05-09 09:50] Hugofgx9 opened #84 "Position fixed seems to kill performances on safari"
Hello,

I worked on a website with asscroll ([https://www.louisefantozzi.com](https://www.louisefantozzi.com)) and I have a performance issue on Safari. I've done a lot of research and I think the issue is using a fixed position, which performs poorly with large content on safari.
I've benchmarked several other scroll libraries, and they mostly use absolute position which seems better.
I don't hav

[2022-05-13 13:38] zadesign opened #85 "Position Fixed Problems"
Hi,
i use your code on my site.
My navigation and items on the top of the site are fixed.
I'm able to add the code and run it but the layout is broken after add the code.

My Structure:

Body
•BIG WRAPPER
- - Navigation --> Fix
- - SITE (attribute: asscroll-container)
- - - SECTION 1 (attribute: asscroll)
- - - SECTION 2 (attribute: asscroll)
- - - SECTION 3( attribute: asscroll)

Is anyway to res

[2022-05-14 08:26] ashthornton commented on #85
Hi @zadesign , that structure should work fine. Can you share any live version or simplified example of the issue?

[2022-05-14 08:31] ashthornton commented on #84
Hi @Hugofgx9, fixed position is necessary because ASScroll will sync the native `window.scrollY` position when possible and if absolute positioning was used the page content would move after the sync since the page is positioned relative to the document root which has been scrolled. Feel free to experiment and let me know if you find a better solution though!

[2022-05-23 16:50] sebastianjung opened #86 "Tab focus not working for horizontal scroll"
Hey there!

it seems tabbing with the keyboard to jump to elements does not seem to work when

`this.asscroll.enable({
          horizontalScroll: true
        })
        `

Any advice on this or is this intended behaviour?

Thank you for your help. Appreciate it!

[2022-06-02 07:53] seanhay commented on #85
Hi! I'm assuming that this may be the issue:
https://codepen.io/seanh/pen/zYRjbwq/e5bbf565a9a37f7a63a0317fb353b121

The navigation is fixed, but because the asscroll-container is also fixed, it ignores any padding in the parent element and floats beneath the fixed navigation.
_padding-top_ could be added to the asscroll-container element, but while the content would be pushed down to be visible, t

[2022-08-11 07:48] pascaliii opened #87 "Not working with Next.js"
Hi,
i would like to use Asscroll in my Next.js project.
When i use the "zero config setup", it throws the error "Self is not defined".
I tried to use dynamic imports and set `asscroll-container="true"`, but its not fixing the problem.

Does anyone know any other solutions?

[2022-08-12 10:03] luciamvm commented on #87
I had the same issue

Import like that inside your useEffect :

[code]

[2022-09-13 10:45] mattun opened #88 "After a few seconds, couldn't scrolling with nextjs"
I used asscroll with nextjs 12.3.0
When loaded, can move, but after a few seconds, it couldn't scrolling

https://user-images.githubusercontent.com/113253/189880393-1f2953f7-6200-4b48-a361-be1d8ac35454.mov

[code]

please check it

[2022-11-08 15:04] CorentinTrt commented on #88
Hi ! Have the same issue right here :/

i tried to use `dynamic` from `next/dynamic` also but same thing

[2022-11-20 10:44] jsskrh commented on #88
I also have the exact same issue, but with reactjs.

[2022-11-26 20:21] Joel-Mercier commented on #88
Thanks @jsskrh that worked well with React/NextJS you need to use a RaF hook instead of the default one from this lib